:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(326deg, #0e0013 0%, #3a122e 74%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e4e4e4;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #653780;
  border-color: #1a1a1a;
  width: 20%;
  height: 20%;
  text-align: center;
  text-decoration: none;
}
a:hover {
  background-color: #834ea1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #e4e4e4;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover, #logoutBtn:hover, #googleBtn:hover {
  background-color: #834ea1;
}

button-link {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input {
  color: black;
  border-width: 2px;
  background-color: #e4e4e4;
  padding: 12px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.chakra-text {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
}

.title {
  font-size: 50px;
}

.chakra-form__label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.chakra-menu__menu-button,
.chakra-menu__menuitem {
  border-radius: 8px;
  border: 1px solid ;
  padding: 0.4em 6.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e4e4e4;
  color: black !important;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 100px;
}

.chakra-textarea {
  border-radius: 8px;
  border: 1px solid ;
  width: 30.0em;
  height: 8.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e4e4e4;
  color: black !important;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 100px;
}

span {
  min-width: inherit !important;
}

.chakra-menu__menu-button:hover,
.chakra-menu__menuitem:hover {
  background-color: #e4e4e4;
}

.chakra-stack {
  flex-wrap: wrap;
}

.homeBtn {
  font-size: 1.5em;
  width: fit-content;
  background-color: #653780;
  margin-bottom: 0.8em;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(270deg, #0e0013 0%, #3a122e 74%);
  padding: 0.5em;
}

.nav-button {
  color: #05231B;
  font-weight: 600;
  background-color: #D1C8E1 !important;
}
.nav-button:hover {
  background-color: #C4B3D8 !important;
}

.logo-button {
  background-color: transparent;
  border-color: transparent;
  text-align: left;
  width: 200px;
}

.logo-button:hover {
  background-color: transparent;
}

#homeBtn {
  width: fit-content;
  font-size: 1.4em;
  margin: 1em;
}

#navOptions {
  display: flex;
  gap: 0.5em;
  font-size: 1.4em;
}

#navOptions > li {
  list-style: none;
  margin: auto;
  border-radius: 3px;
}

#logoutBtn {
  background-color: #653780;
  border-color: #1a1a1a;
  width: fit-content;
  margin-right: 1em;
}

#errorTitle {
  margin: 0.3em;
  color: #fff;
}

#errorMssg {
  font-size: 1.8em;
  margin: 1em;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #0e0013 0%, #3a122e 74%);
  }
  button {
    background-color: #653780;
    border-color: #1a1a1a;
    width: 35%;
    height: 20%;
  }
  img {
    width: 80%;
  }
}
